 .productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 16px;
  padding: 16px;
}

.card {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.price {
  font-size: 16px;
  font-weight: 600;
  color: #007BFF;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #555;
  display: -webkit-box;
   -webkit-line-clamp: 4; /* show max 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
